# IMPORT LIBS

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
# Loading Data From Csv to pandas dataframe
df = pd.read_csv(
    "../data/raw/mymoviedb.csv",
    engine="python",
    on_bad_lines="skip"
)
df.head()

  Release_Date                    Title  ...                               Genre                                         Poster_Url
0   2021-12-15  Spider-Man: No Way Home  ...  Action, Adventure, Science Fiction  https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1   2022-03-01               The Batman  ...            Crime, Mystery, Thriller  https://image.tmdb.org/t/p/original/74xTEgt7R3...
2   2022-02-25                  No Exit  ...                            Thriller  https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3   2021-11-24                  Encanto  ...  Animation, Comedy, Family, Fantasy  https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4   2021-12-22           The King's Man  ...    Action, Adventure, Thriller, War  https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

[5 rows x 9 columns]

In [13]:
# Dataset shape
df.shape

(9837, 9)

In [14]:
# Check for null values
df.isnull().sum()

Release_Date          0
Title                 9
Overview              9
Popularity           10
Vote_Count           10
Vote_Average         10
Original_Language    10
Genre                11
Poster_Url           11
dtype: int64

In [15]:
# Dropping Nan Values
df = df.dropna()

# Checking
df.isnull().sum()

Release_Date         0
Title                0
Overview             0
Popularity           0
Vote_Count           0
Vote_Average         0
Original_Language    0
Genre                0
Poster_Url           0
dtype: int64

In [16]:
# Dataset Description
df.describe()

        Popularity
count  9826.000000
mean     40.323951
std     108.879332
min      13.354000
25%      16.128250
50%      21.195000
75%      35.179250
max    5083.954000