# BOOK RECOMENDATION SYSTEM

## IMPORT LIB

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
books = pd.read_csv(
    "../data/raw/BX-Books.csv",
    sep=";",
    encoding="latin-1",
    on_bad_lines="skip"
)
books.head()

C:\Users\Syfer\AppData\Local\Temp\ipykernel_23836\2050733137.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [11]:
books["Image-URL-L"][141]

'http://images.amazon.com/images/P/1900850303.01.LZZZZZZZ.jpg'

In [12]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [16]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [18]:
books.head(n=2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [19]:
books.rename(
    columns={
        'ISBN': 'isbn',
        'Book-Title': 'title',
        'Book-Author': 'author',
        'Year-Of-Publication': 'year',
        'Publisher': 'publisher',
        'Image-URL-L': 'image_url'
    },
    inplace=True
)

C:\Users\Syfer\AppData\Local\Temp\ipykernel_23836\1758654176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(

In [20]:
books.head()

,isbn,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [26]:
users = pd.read_csv(
    "../data/raw/BX-Users.csv",
    sep=";",
    encoding="latin-1",
    on_bad_lines="skip"
)
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [27]:
users.shape

(278858, 3)

In [28]:
# Adjusting User Columns
users.rename(
    columns={
        "User-ID":"user_id",
        "Location":"location",
        "age":"age"
    }
)

        user_id                            location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [29]:
ratings = pd.read_csv(
    "../data/raw/BX-Book-Ratings.csv",
    sep=";",
    encoding="latin-1",
    on_bad_lines="skip"
)
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [30]:
print(f"User Shape :{users.shape}, Ratings Shape {ratings.shape}, Books Shapes {books.shape}")

User Shape :(278858, 3), Ratings Shape (1149780, 3), Books Shapes (271360, 6)

In [69]:
# Lets store users who had at least rated more than 200 books
x = ratings["User-ID"].value_counts() > 200
x.shape

(105283,)

In [70]:
x[x].shape

(899,)

In [78]:
ratings.rename(
    columns= {
        'ISBN': 'isbn',
        'User-ID': 'user_id',
        'Book-Rating': 'book_rating',
    },
    inplace=True
)

ratings.columns

Index(['user_id', 'isbn', 'book_rating'], dtype='object')

In [79]:
ratings_with_books = ratings.merge(books, on="isbn")

In [82]:
ratings_with_books.head()

,user_id,isbn,book_rating,title,author,year,publisher,image_url
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...

In [84]:
number_rating = ratings_with_books.groupby("title")["book_rating"].count().reset_index()

In [85]:
number_rating

                                                    title  book_rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [86]:
number_rating.value_counts()

title                                                                                                       book_rating
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)  4              1
 Always Have Popsicles                                                                                      1              1
 Apple Magic (The Collector's series)                                                                       1              1
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                       1              1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                 1              1
                                                                                                                          ..
Ã?Â?lpiraten.                                                                                               2              1
Ã?Â?rger mit Produkt X. Roman.                                                                              4              1
Ã?Â?sterlich leben.                                                                                         1              1
Ã?Â?stlich der Berge.                                                                                       3              1
Ã?Â?thique en toc                                                                                           2              1
Name: count, Length: 241071, dtype: int64

In [89]:
number_rating.rename(
    columns={
        "book_rating":"num_of_rating"
    },
    inplace=True
)

number_rating

                                                    title  num_of_rating
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
241066                                      Ã?Â?lpiraten.              2
241067                     Ã?Â?rger mit Produkt X. Roman.              4
241068                                Ã?Â?sterlich leben.              1
241069                              Ã?Â?stlich der Berge.              3
241070                                  Ã?Â?thique en toc              2

[241071 rows x 2 columns]

In [91]:
final_rating = ratings_with_books.merge(number_rating, on="title")
final_rating.head()

,user_id,isbn,book_rating,title,author,year,publisher,image_url,num_of_rating
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,60
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,14
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,650
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,1
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,1

In [92]:
final_rating.shape

(1031136, 9)

In [93]:
final_rating = final_rating[final_rating["num_of_rating"] > 50]

In [94]:
final_rating

,user_id,isbn,book_rating,title,author,year,publisher,image_url,num_of_rating
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,60
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,650
6,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,838
7,276746,0425115801,0,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,274
8,276746,0449006522,0,Manhattan Hunt Club,JOHN SAUL,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,111
...,...,...,...,...,...,...,...,...,...
1031123,276704,0441007813,0,Obsidian Butterfly,Laurell K. Hamilton,2000,Ace Books,http://images.amazon.com/images/P/0441007813.0...,53
1031124,276704,0446353957,0,Mirror Image,Sandra Brown,1990,Warner Books,http://images.amazon.com/images/P/0446353957.0...,159
1031125,276704,0446605409,0,Plum Island,Nelson DeMille,1998,Warner Books,http://images.amazon.com/images/P/0446605409.0...,150
1031128,276704,0743211383,7,Dreamcatcher,Stephen King,2001,Scribner,http://images.amazon.com/images/P/0743211383.0...,481
1031129,276704,080410526X,0,All I Really Need to Know,ROBERT FULGHUM,1989,Ivy Books,http://images.amazon.com/images/P/080410526X.0...,258

In [95]:
final_rating.drop_duplicates(["user_id", "title"], inplace=True)
final_rating.shape

(282389, 9)

In [96]:
final_rating.isnull().sum()

user_id          0
isbn             0
book_rating      0
title            0
author           0
year             0
publisher        0
image_url        0
num_of_rating    0
dtype: int64

# BUILDING A RECOMMENDATION SYSTEM USING A PIVOT TABLE (RATINGS)

A recommendation system is designed to suggest items to users based on past interactions. In this project, the interaction data consists of **book ratings provided by users**, and the goal is to identify patterns that can be used to recommend similar books.

## Understanding the Ratings Data

The ratings dataset contains three main components:
- **User-ID**: identifies the user
- **Book-ID (ISBN)**: identifies the book
- **Book-Rating**: the rating given by the user

This raw data is typically sparse because:
- Many users rate only a few books
- Many books receive very few ratings

To ensure meaningful recommendations, the dataset must be filtered.

## Filtering Active Users and Popular Books

To reduce noise and improve recommendation quality:
- **Active users** are selected based on a minimum number of ratings (e.g., users with more than 200 ratings).
- **Popular books** are selected based on how many users have rated them.

This filtering ensures that similarity calculations are based on sufficient interaction data.

## Creating the Pivot Table (User–Item Matrix)

After filtering, the ratings data is reshaped into a **pivot table**, also known as a **user–item matrix**.

In this matrix:
- Each **row** represents a book
- Each **column** represents a user
- Each **cell** contains the rating a user gave to a book

If a user has not rated a book, the value is missing (`NaN`).

## Handling Missing Values

Most similarity algorithms cannot work with missing values. Therefore:
- All missing ratings are replaced with `0`
- A value of `0` indicates no interaction, not dislike

This step prepares the data for mathematical operations.

## Using the Pivot Table for Recommendations

The pivot table serves as the foundation for **collaborative filtering**:
- Books can be compared based on rating patterns across users
- Similarity measures (such as cosine similarity) are applied to find books with similar rating behavior

If two books are rated similarly by many users, they are considered similar.

## Generating Recommendations

When a user interacts with a book:
- The system identifies books with high similarity scores
- These similar books are recommended to the user

## Summary

The pivot table transforms raw rating data into a structured numerical format that enables similarity-based analysis. It is a critical step that connects raw user behavior to the recommendation logic, making collaborative filtering possible.

In [98]:
book_pivot = final_rating.pivot_table(columns="user_id", index="title", values="book_rating")
book_pivot

user_id,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 Lighthouse Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stardust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
book_pivot.shape

(2381, 47740)

In [101]:
book_pivot.fillna(0, inplace=True)

In [102]:
book_pivot.head()

user_id,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# CSR MATRIX

In [103]:
from scipy.sparse import csr_matrix

In [104]:
book_sparse = csr_matrix(book_pivot)
book_sparse

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 112306 stored elements and shape (2381, 47740)>

In [105]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm="brute")

In [107]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [125]:
book_pivot.iloc[7,:]

user_id
8         0.0
9         0.0
14        0.0
16        0.0
17        0.0
         ...
278843    0.0
278844    0.0
278846    0.0
278851    0.0
278854    0.0
Name: 24 Hours, Length: 47740, dtype: float64

In [130]:
distance_suggestion = model.kneighbors(book_pivot.iloc[7,:].values.reshape(1,-1), n_neighbors=5)
distance_suggestion

(array([[ 0.        , 49.12229636, 49.53786431, 49.55804677, 50.04997502]]),
 array([[   7,  748,  275, 2361,   96]]))

In [131]:
for i in range(len(distance_suggestion[1].flatten())) : 
    print(book_pivot.index[distance_suggestion[1].flatten()[i]])

24 Hours
Ground Zero and Beyond
Blood and Gold (Rice, Anne, Vampire Chronicles.)
Women in His Life
About Face